// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// ===== VARIABLE CSS CLASS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #030303;
$grey-color: #6c757d;
$yellow-color: #ffc600;
$white-color: #ffffff;

// font body
$font-body: "Poppins", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// line-height
$leading-title: 155%;
$leading-text: 180%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
  letter-spacing: -0.9px;
}

ul,
a {
  text-decoration: none;
  list-style: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-medium;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.section {
  padding: 8rem 0 4rem;

  &-title {
    font-size: 32px;
    font-weight: $font-semibold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &-text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
  }

  &-text-button {
    margin-bottom: $margin-2;
  }
}

.button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $yellow-color;
  font-size: 15px;
  font-weight: $font-semibold;
  color: $black-color;
  border-radius: 12px;
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-400;

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-icon {
    width: 120px;
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: $white-color;
      box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.2);
      border-radius: 12px;
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    position: relative;
    font-size: 15px;
    font-weight: $font-semibold;
    color: $black-color;

    &::after {
      position: absolute;
      content: "";
      top: 1.3rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 2px;
      background-color: $black-color;
      border-radius: 5rem;
      transition: $transition-400;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__button {
    margin-top: $margin-1-5;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // show menu
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }
}

// ===== HOME SECTION =====
.home {
  &__container {
    gap: 3rem;
  }

  &__data,
  &__video {
    text-align: center;
    justify-self: center;
  }

  &__video {
    border-radius: 12px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-watch {
      background-color: $white-color;
      border: 2px solid $black-color;
    }
  }
}

// ===== MARQUEE TEXT SECTION =====
.marquee {
  display: flex;
  align-items: center;
  padding: 0 0 4rem;
  overflow: hidden;

  &__container {
    display: flex;
    animation: marquee 20s linear infinite running;
  }

  &__text {
    font-size: 24px;
    font-weight: $font-semibold;
    color: $black-color;
    white-space: nowrap;
    padding: 1.5rem 1rem;
    background: rgba($color: #000000, $alpha: 0.05);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}

// ===== PARTNER SECTION =====
.partner {
  padding: 0 0 8rem;

  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__text {
    font-size: 20px;
    font-weight: $font-semibold;
    color: $grey-color;
    line-height: $leading-text;
  }

  &__group {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem 3rem;
  }

  &__img {
    width: 120px;
  }
}

// ===== FEATURES SECTION =====
.features {
  &__group {
    display: grid;
    gap: 3rem;
  }

  &__content {
    display: grid;
    gap: 3rem;

    &-data {
      text-align: center;
      justify-self: center;
    }

    &-video {
      border-radius: 12px;
      overflow: hidden;
    }
  }
}

// ===== CATEGORY SECTION =====
.category {
  &__container {
    gap: 2rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__group {
    display: grid;
    gap: 3rem;
  }

  &__content {
    background-color: $white-color;
    transition: $transition-400;

    &-img {
      border-radius: 12px;
    }

    &-data {
      padding: 1rem;
      text-align: center;
    }

    &-title {
      font-size: 20px;
      font-weight: $font-semibold;
      color: $black-color;
    }
  }
}

// ===== PRICING SECTION =====
.pricing {
  &__container {
    gap: 2rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.9fr));
    justify-content: center;
    gap: 3rem;
  }

  &__content {
    display: grid;
    gap: 2rem;
    padding: 3rem 2rem;
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 12px;

    &-class {
      font-size: 20px;
      font-weight: $font-semibold;
      color: $black-color;
      margin-bottom: 0.5rem;
    }

    &-price,
    &-text {
      font-size: 15px;
      font-weight: $font-medium;
      color: $black-color;
    }

    &-number {
      font-size: 52px;
      font-weight: $font-semibold;
      color: $black-color;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &-item {
      display: inline-flex;
      align-items: center;
      gap: 6px;
      font-size: 15px;
      font-weight: $font-medium;
      color: $black-color;
    }

    &-icon {
      display: inline-flex;
      font-size: 1.2rem;
      color: $black-color;
    }

    &-button {
      background-color: rgba($color: #ffc600, $alpha: 0.2);
      border: 2px solid $yellow-color;
      color: $black-color;
    }
  }

  &__content:nth-child(2) {
    background-color: $black-color;

    .pricing__content-class,
    .pricing__content-price,
    .pricing__content-number,
    .pricing__content-text,
    .pricing__content-item,
    .pricing__content-icon {
      color: $white-color;
    }

    .pricing__content-button {
      border-color: $white-color;
      background-color: $white-color;
      color: $black-color;
    }
  }
}
